<div class="container border">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" [(ngModel)]="food.name" id="name" name="name" placeholder="Ingrese el nombre" required>
    </div>
    <div class="form-group">
      <label for="quantity">Cantidad</label>
      <input type="number" class="form-control" [(ngModel)]="food.quantity" id="quantity" name="quantity" placeholder="Ingrese la cantidad" required>
    </div>
    <div class="form-group">
      <label for="department">Departamento</label>
      <select class="form-control" [(ngModel)]="food.department" id="department" name="department" required>
        <option selected disabled>Seleccionar</option>
        <option value="carnes">Carnicería</option>
        <option value="granos">Granero</option>
        <option value="supermercado">Supermercado</option>
      </select>
    </div>
    <div class="form-group row">
      <div class="offset-sm-5 col-sm-8">
        <button type="submit" class="btn btn-success">Añadir</button>
      </div>
    </div>
  </form>
</div>
